@model CategoriesViewModel

@{
    Layout = null;

}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Categories</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#addCategoryModal">+ Add Category</a>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <!-- Main content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg">
                        <div class="card card-primary card-outline">
                            <div class="card-body">
                                <h5 class="card-title">Card title</h5>
                                <!-- Tabla de categorías -->
                                <div class="mt-4">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Descripción</th>
                                                <th>Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody id="categoryTable">
                                            <!-- Aquí se insertarán las filas dinámicamente -->
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategoryLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <form id="categoryForm" asp-action="Index" asp-controller="Categories" method="post">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="addCategoryLabel">Agregar Categoría</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="categoryName">Nombre</label>
                                                        <input type="text" class="form-control" id="categoryName" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="categoryDescription">Descripción</label>
                                                        <textarea class="form-control" id="categoryDescription" rows="3" required></textarea>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <a asp-action="Index" asp-controller="Categories" class="btn btn-success">Guardar</a>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section script {
    <!-- jQuery -->
    <script src="~/adminLTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/adminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/adminLTE/dist/js/adminlte.min.js"></script>
    <script src="~/js/Categories.js"></script>
}


