@model UserViewModel
@{
    Layout = null;

}

<head>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/adminLTE/plugins/fontawesome-free/css/all.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/adminLTE/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/css/Login.css">
</head>
<body>
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <!-- From Uiverse.io by Praashoo7 -->
                <form id="loginForm" asp-action="Index" asp-controller="Login" method="post">
                    <p id="heading">Login</p>
                    <div class="field">
                        <input asp-for="Email" placeholder="Email" class="input-field" type="text" />
                    </div>
                    <div class="field">
                        <input asp-for="PasswordHash" placeholder="Password" class="input-field" type="password" />
                    </div>
                    <div class="btn">
                        <button type="submit" class="button1">Login</button>
                        <a asp-action="Register" asp-controller="Login" class="button2">Sign Up</a>
                    </div>
                    <button type="button" class="button3">Forgot Password</button>
                </form>

            </div>
        </div>
    </section>
</body>

@section script {
    <!-- jQuery -->
    <script src="~/adminLTE/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/adminLTE/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/adminLTE/dist/js/adminlte.min.js"></script>

    <script src="~/js/Login.js"></script>
}